
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/fondo/fondo.JPG");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-width: auto !important;
  max-width: auto !important;
  .formulario {
    width: 30%;
    height: 43%;
    background-color: rgba(236, 245, 245, 0.849);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.8vw;
    form {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      div {
        width: 100%;
        margin: 0.5vw 0;
        .mostrar {
          visibility: visible;
          font-weight: bolder;
        }
        .ocultar {
          visibility: hidden;
        }
        input {
          width: 100%;
          height: 5vh;
          text-align: center;
        }
      }
      .registroContainer {
        display: flex;
        flex-direction: row;
        #registro {
          height: auto;
          width: 3vw;
        }
      }
      button {
        font-weight: bold;
        color: white;
        background-color: rgb(9, 80, 173);
        border-radius: 1vw;
        padding: 3%;
        width: 50%;
        margin-top: 2vh;
      }
    }
  }
}


@media (max-width: 1306px){
    .container{
        background-size: 120%;
}
}
@media (max-width: 1108px){
    .container{
        background-size: auto;
    
    .formulario {
        width: 30%;
        height: 46%;
        background-color: rgba(236, 245, 245, 0.849);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0.8vw;
}
}
}
@media (max-width: 1000px){
    .container{
        background-size: auto;
    
    .formulario {
        width: 50%;
        height: 46%;
        background-color: rgba(236, 245, 245, 0.849);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0.8vw;
}
}
}
@media (max-width: 667px){
    .container{
        background-size: auto;
    
    .formulario {
        width: 100%;
        height: 46%;
        background-color: rgba(236, 245, 245, 0.849);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0.8vw;
}
}
}